language: python
dist: trusty
sudo: false
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
# command to install dependencies
install:
  - pip install nose coverage argparse python-dateutil docutils pyparsing flake8
# command to run tests
script:
  - nosetests -s --tests test
notifications:
  email: false
