name: catkin_pkg-ci

on:
  push:
    branches: [master]
  pull_request:
    branches: ['*']

jobs:
    build:
      strategy:
        matrix:
          os: [ubuntu-latest, macos-latest]
          python: [3.7, 3.8, 3.9]
          include:
          - os: ubuntu-16.04
            python: 2.7
          - os: ubuntu-18.04
            python: 2.7
          - os: macos-latest
            python: 2.7
          - os: ubuntu-16.04
            python: 3.5
          - os: ubuntu-18.04
            python: 3.6
      name: catkin_pkg tests
      runs-on: ${{matrix.os}}

      steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{matrix.python}}
        uses: actions/setup-python@v1
        with:
          python-version: ${{matrix.python}}
      - name: Install dependencies
        run: |
          python -m pip install argparse coverage docutils mock nose pyparsing python-dateutil
          python -m pip install flake8 flake8-blind-except flake8-builtins flake8-class-newline flake8-comprehensions flake8-deprecated flake8-docstrings flake8-import-order flake8-quotes
      - name: Run tests
        run: |
          python -m nose -s --tests test
